.Canvas {
	/* DEFINITIONS *********************************************************************************/
	@mixin base {
		display: block;
		flex: 1;
		padding: 5px;
	}

	/* BODY ****************************************************************************************/
	@include base();

}
