.SidebarNav {
	/* DEFINITIONS *********************************************************************************/
	@mixin base {
		border-right: thin grey solid;
		display: block;
		padding: 5px;
		width: 200px;
	}

	@mixin menu-item {
		li {
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	/* BODY ****************************************************************************************/
	@include base();

	@include menu-item();
}
