.SidebarNav {
	/* DEFINITIONS *********************************************************************************/
	@mixin base {
		border: thin lightgray solid;
		display: block;
		padding: 5px;

		li {
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	/* BODY ****************************************************************************************/
	@include base();

}
