.Admin {
	/* DEFINITIONS *********************************************************************************/
	@mixin base {
		border: thin lightgray solid;
		display: block;
		padding: 5px;
	}

	/* BODY ****************************************************************************************/
	@include base();

}
