.Footer {
	/* DEFINITIONS *********************************************************************************/
	@mixin base {
		background-color: black;
		color: gray;
		display: block;
		padding: 5px;
	}

	/* BODY ****************************************************************************************/
	@include base();

}
