.HeaderNav {
	/* DEFINITIONS *********************************************************************************/
	@mixin base {
		align-items: center;
		background-color: #65707B;
		border-bottom: thin #535C65 solid;
		color: black;
		display: flex;
		font-weight: bold;
		height: 50px;
		padding: 5px;
	}

	/* BODY ****************************************************************************************/
	@include base();

}
